
@model IEnumerable<MyTasks.Core.Models.Domains.Category>


<div id="categoriesTable">
    <table class="table mt-3 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nazwa kategorii</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var category in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Category", "Category", new { id = category.Id })" class="font-weight-bold">@category.Name</a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="deleteCategory('@category.Id', this)">Usuń</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">
                        Brak dostępnych kategorii
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
